<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>MessUp</title>
	<!--<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="assets/javascripts/respond.js"></script>-->
</head>

<body style="margin-top: 50px">
	<%= render(:partial => "navigation_sign_in_sign_up")%>
	<div class="container">
	 	<div class="well">
	  	<div class="row"> 
	    	<div class="col-lg-10 ">	      	
	      	<%= form_for(:user, :url => {:action => 'create'}) do %>
	     			
	        	<h1>New Member Registration</h1>
	        	<legend>
	        		<h4>To get access to this inventory list of gadgets please fill out the following form. Thank you </h4>
	        	</legend>
	        	<% if flash[:error] %>
							<font color = "red" size = "4">
								<%= flash[:error].html_safe %>
							</font>	
						<% end %>
						<%= error_messages_for(@user) %>
	          <div class="form-group">
	            <label class="string optional control-label control-label col-md-2" for="user_Firstname">Firstname</label>
	            <div class="col-md-4">
	              <input class="form-control" id="user_first_name" name="user[first_name]" size="30" type="text" />
	            </div>
	          </div>
	          <div class="form-group">
	            <label class="string optional control-label control-label col-md-2" for="user_Lastname">Lastname</label>
	              <div class="col-md-4">
	            		<input class="form-control" id="user_last_name" name="user[last_name]" size="30" type="text" />
	           		</div>
	          	</div>
	          	<div class="form-group">
	             	<label class="string optional control-label control-label col-md-2" for="user_Email">Email</label>
	              <div class="col-md-4">
	            		<input class="form-control" id="user_email" name="user[email]" size="30" type="text" value="" />
	          		</div>
	          	</div>
	          	<div class="form-group">
	             	<label class="string optional control-label control-label col-md-2" for="user_Institution">Institution</label>
	              <div class="col-md-4">
	            		<input class="form-control" id="user_institution" name="user[institution]" size="30" type="text" />
	          		</div>
	          	</div>
	          	<div class="form-group">
	             	<label class="string optional control-label control-label col-md-2" for="user_Password">Password</label>
	             	<div class="col-md-4">
	            		<input class="form-control" id="user_password" name="user[password]" size="30" type="password" />
	            	</div>
	          	</div>
	          	<div class="form-group">
	             	<label class="string optional control-label control-label col-md-2" for="user_Confirmation">Confirmation</label>
	             	<div class="col-md-4">
	              		<input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />
	              </div>
	          	</div>
	          	<div class="form-group">
	            	<div class="col-lg-10 col-lg-offset-2" style="padding-top:20px;">
	              	<input class="btn btn-primary" name="commit" type="submit" value="Become a member" /> 
	             	</div>
	          	</div>
	          </div>	       	
	    		<%end%>
	    	</div>
	  	</div>
	 	</div>    
	</div>   
</body>
</html>
